.question-thread-page {
    padding: 20px;
    margin-top: -40px;
    margin-left: 100px;
  }
  
  .question-section h2 {
    margin-bottom: 20px;
    font-family: 'Libre-Franklin', sans-serif;
    font-size: 30px;
    border: 2px solid #ccc;
    border-radius: 12px;
    max-width: 10vw;
    padding: 8px;                    
    background-color: #ff8902; 
    text-align: center;
  }

  .question-section p {
    margin-bottom: 20px;
    font-family: 'Libre-Franklin', sans-serif;
    font-size: 25px;
    max-width: 20vw;
    padding: 8px;                    
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 4px;
    text-decoration-style: solid;
    border-left: 2px solid orange;
  }
  
  .replies-section {
    margin-bottom: 20px;
    margin-left: 500px;
    font-size: 30px;
    border: 2px solid #ccc;
    border-radius: 12px;
    max-width: 10vw;
    padding: 8px;                    
    background-color: #ff8902; 
    text-align: center;
  }
  
  .reply {
    margin-bottom: 10px;
    width: 100vw;
  }
  
  .reply-form {
    margin-top: 50px;
  }

  .reply-form h3 {
    font-size: 20px;
  }
  .reply-form textarea {
    width: 70vw;
    height: 100px;
    margin-bottom: 10px;
    background-color: rgb(236, 235, 235);
  }
  
  .reply-form input[type="file"] {
    margin-bottom: 10px;
  }
  
  .reply-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  