body, html {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: auto;
    min-height: 75px;
    background-color: #003882;
    color: white; 
    padding: 0 20px; 
}

.logo {
    font-size: 3.75vw;
    font-family: 'Libre Barcode 128 Text', sans-serif;
    white-space: nowrap;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 0.75vw; 
}

.nav-item, .login-button, .more-button {
    padding: 0.52vw 1.04vw; 
    font-size: 0.9vw;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    color: black; 
    background-color: #EEEEEE;
    border-radius: 8px; 
    border: 1.5px solid black;
    text-transform: uppercase;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

.navbar .login-button {
    background-color: #D97300;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); 
    color: white;
}


.navbar .nav-item:hover, .login-button:hover, .more-button:hover {
    background-color: #cccccc;
    color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 2px;
}

.dropdown-item {
    color: black;
    padding: 1vh 1vw;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-align: left;
    width: 100%;
    background: none;
    border: none;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.navbar .notification-dot-more {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #d30f06;
    border-radius: 50%;
    left: 267%;
    bottom: 100%;
    margin-bottom: 1.85vw;
}

.navbar .notification-dot-in {
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: #d30f06;
    border-radius: 50%;
    margin-left: 5px;
    right: 8px;
    top: 50px;
}