.poll-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 40px auto;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.poll-form-container .error {
    color: rgb(179, 3, 3);
}

.poll-input, .poll-select {
    width: 100%;
    padding: 10px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Libre Franklin', sans-serif;
}

.poll-button {
    background-color: #003882;
    color: white;
    padding: 8px 20px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.poll-button:hover {
    background-color: #0051ba;
}

.add-option-button, .remove-option-button {
    background-color: #e7e7e7; 
    color: black;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-option-button:hover, .remove-option-button:hover {
    background-color: #d4d4d4;
}

.poll-checkbox {
    margin: 4px 0;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.poll-checkbox input {
    margin-right: 10px;
    cursor: pointer;
}

.poll-checkbox span {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.poll-form-header {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}