.question-thread-page {
    padding: 20px;
    margin-top: -40px;
}
  
.question-section h2 {
    margin-bottom: 20px;
    font-family: 'Libre-Franklin', sans-serif;
    font-size: 26px;
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 200px;
    padding: 8px;                    
    background-color: #ff8902; 
    text-align: center;
}
  
.question-section p {
    margin-bottom: 20px;
    font-family: 'Libre-Franklin', sans-serif;
    font-size: 24px;
    max-width: 600px;
    padding: 8px;                    
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #D97300;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
    border-left: 2px solid #D97300;
}
  
.replies-section-h {
    margin-bottom: 20px;
    font-size: 26px;
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 200px;
    padding: 8px;                    
    background-color: #ff8902; 
    text-align: center;
    font-family: 'Libre-Franklin', sans-serif;
    margin-left: auto;
}
  
.reply {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e0f4ff;
    max-width: 60%;
    margin-left: auto;
    position: relative;
}
  
.reply.flagged {
    border: 2px solid red;
}

.reply .user-name-link {
    color:#0056b3;
    text-decoration: underline;
    cursor: pointer;

}
  
.reply-form {
    margin-top: 50px;
}
  
.reply-form h3 {
    font-size: 20px;
    font-weight: bold;
}
  
.reply-form textarea {
    width: 70vw;
    height: 100px;
    margin-bottom: 10px;
    background-color: #fdf0e5; 
    border: 1px solid #ccc;
    border-radius: 15px; 
    padding: 10px;
}

.reply-form textarea:hover {
    background-color: #ffe5cc; 
    transition: 0.3s ease;
}

.reply-form textarea:focus {
    background-color: #ffe5cc; 
    outline: none; 
}
  
.reply-form input[type="file"] {
    margin-bottom: 10px;
}
  
.reply-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reply-form .anonymous-checkbox input{
    cursor: pointer;
}

  
.reply-container .attach-text {
    color: #0056b3;
    font-size: 14px;
}
  
.reply-container .attach-text:hover {
    text-decoration: underline;
}
  
.reply p {
    font-size: 12px;
}
  
.reply .text {
    font-size: 16px;
    margin-bottom: 3px;
}
  
.reply .popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transform: translate(-75%, -60%);
    border-radius: 6px;
}

.popup-close-button {
    color:#f44336;
}
  
.reply .popup-profile-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    background: #F7F7F7;
    margin-bottom: 2px;
}
  
.reply .delete-button {
    position: absolute;
    top: 10px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
}
  
.reply .flag-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
  
.question-thread-page .reminder-button {
    margin-top: 10px;
    background-color: rgb(236, 235, 235);
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 14px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
  
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    width: 300px; 
}
  
.flag-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    padding: 10px;
}
  
.flag-buttons {
    display: flex;
    justify-content: space-between;
}

.flagged {
    background-color: #ffe6e6; 
}

.flagged-message {
  color: red;
  font-weight: bold;
}

.flag-confirmation {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    z-index: 1001;
    text-align: center;
}
  
.flag-success-popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    z-index: 1001; 
    font-size: 16px;
}
  
.modal h3 {
    font-weight: bold;
}
  
.flag-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
  
.flag-submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.flag-cancel-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.flag-textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
}

.delete-confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  width: 300px; 
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin: 0 20px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content .delete-confirm-button {
  padding: 10px 20px;
  border: none;
  background-color:#f44336 !important;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin: 0 20px;
}

.modal-content .delete-confirm-button:hover {
    background-color: rgb(202, 19, 56) !important;
}