.login-main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh; 
  padding: 20px;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 4vw;
  width: 100%;
  max-width: 500px;
  background: #f7f7f7;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.login-container header {
  color: black;
  font-size: 22.5px;
  font-weight: 700;
}

.login-container p {
  padding: 0 20px;
  font-size: 15px;
  color: black;
  text-align: center;
}

.login-container input {
  width: 100%;
  padding: 1vh;
  margin: 8px 0;
  border: 1.5px solid #E0E0E0;
  border-radius: 4px;
}

.login-container .login-button {
  display: inline-block;
  width: 100%;
  padding: 1vh;
  color: white;
  background-color: #003882;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-top: 1.5vh;
}

.login-container .login-button:hover, .login-button:focus {
  background-color: #0051ba; /* Slightly darker on hover/focus for feedback */
}

.login-container .forgot-password-link {
  margin-top: 10px;
  font-size: small;
}

.login-container .divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.login-container .divider hr {
  flex-grow: 1;
  height: 1px;
  background-color: #999999;
  border: none;
  margin-top: 12.5px;
}

.login-container .divider p {
  padding: 0 10px;
  font-size: small;
  color: black;
  margin-top: 10px;
}

.microsoft-button {
  margin-top: 10px;
  cursor: pointer;
}