.footer {
    width: 100%;
    min-height: 40px;
    background: #dadada;
    display: flex;
    justify-content: center; /* Center the footer content horizontally */
    align-items: center; /* Vertically aligns items in the center */
    padding: 0 20px; /* Add some padding on the sides */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center;
    flex-wrap: nowrap; /* Prevents wrapping */
    width: 100%; /* Takes full width to allow 'space-between' to work effectively */
}

.footer-content a {
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-content a:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

.footer-content .stamp-logo {
    width: 5vw; /* Scaling based on viewport width */
    max-width: 60px; /* Maximum size */
    min-width: 40px; /* Minimum size */
    height: auto; /* Maintain aspect ratio */
}
