.signup-main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh; /* You can adjust this percentage to push the content up or down */
    padding: 20px; /* Increased padding for better spacing */
    width: 100%;
  }
  
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 4vw;
    width: 100%;
    max-width: 500px;
    background: #f7f7f7;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px; /* Optional: Rounds the corners */
}
  
.signup-container header {
    color: black;
    font-size: 22.5px;
    font-weight: 700;
}
  
.signup-container p {
    padding: 0 20px;
    font-size: 15px;
    color: black;
    text-align: center; /* Centers the text */
}
  
.signup-container input {
    width: 100%;
    padding: 1vh;
    margin: 8px 0;
    border: 1.5px solid #E0E0E0;
    border-radius: 4px;
}
  
.signup-container .verify-button {
    width: 100%; /* Makes the button full width to match input fields */
    padding: 0.75vh; 
    color: white;
    background-color: #003882;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin-top: 1.5vh;
}

.verify-button:hover, .verify-button:focus {
    background-color: #0051ba; /* Slightly darker on hover/focus for feedback */
  }
  
.terms {
    text-align: center;
    color: #828282;
    margin-top: 10px;
}
  
.terms span {
    color: black;
    font-weight: 600;
}